.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.border-radius-top {
    border-radius: 8px 8px 0 0;
}

.bg-red {
    background: #E94B4D;
}

.text-red {
    color: #E94B4D;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

p {
    font-size: 14px;
    font-weight: 600;
}


footer ul>li>a {
    text-decoration: none;
    font-size: 13px;
}

footer ul>li {
    line-height: 1rem;
}

.nav-explenation {
    font-size: 12px;
}

.discover button {
    font-size: 12px;
}

.about-us a {
    text-decoration: none;
    color: #f1f1f1;
}

.centralized {
    margin: auto;
}

.f-10 {
    font-size: 10px;
}

.f-13 {
    font-size: 13px;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-navy {
    background-color: #080c25;
}

.rotate-270 {
    transform: rotate(270deg);
}

.z-11 {
    z-index: 11;
}

.z-5 {
    z-index: 5;
}

.z-1 {
    z-index: 1;
}

.z-3 {
    z-index: 3;
}

.f-max-bold {
    font-weight: 1000px;
}

.avatar {
    width: 40px;
    height: 40px;

}


.search form {
    border: solid rgb(0, 0, 0) 2px;
}


.bg-purple {
    background-color: #9786BF;
}

.height-250 {
    height: 250px;
}

.custom-avatar {
    border: rgba(255, 255, 255, 0.5) 1px solid;
    width: 140px;
    height: 140px;
    border-bottom: none;
}

.custom-avatar img {
    width: 130px;
    height: 130px;
}

.border-radius-10 {
    border-radius: 10px;
}

.modal-size {
    width: 410px;
}


.space {
    height: 150px;
}




.search {
    width: 400px;
    margin: 0 67%;
}

.half-a-border-on-top {

    background-color: #E94B4D;
    height: 8px;
    width: 52%;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%)
}

/*swiper*/

.swiper {
    width: 100%;
}




.swiper-slide {
    text-align: center;
    font-size: 18px;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}


.swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #ffffff;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper .swiper-pagination-bullet-active {
    color: #fff;
    background: #E94B4D;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    top: 97%;
    transform: translateY(-50%);
    color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.swiper-button-next-4,
.swiper-button-prev-4,
.swiper-button-prev-2,
.swiper-button-next-2 {
    margin: 0 -30px;
    padding: 20px;
    border: #fff;
}

/* Add styles for previous and next buttons */
.swiper2 .swiper-pagination-bullet-active {
    background-color: #ffffff;
    opacity: 1;
    /* Active bullet color */
}

.swiper2 .swiper-pagination-bullet {
    opacity: 0.5;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
}


.swiper-pagination-2 .swiper-pagination-bullet-active {
    background-color: #ffffff;
    opacity: 1;

}


.swiper3 i {
    font-size: 15px;
}

.swiper3 span {
    font-size: 13px;
}


/*end of swiper*/

@media (max-width: 700px) {
    .swiper .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        color: rgb(0, 0, 0);
        background-color: #fff;
    }

    .swiper .swiper-pagination-bullet-active {
        background-color: #E94B4D;
        opacity: 1;
        /* Active bullet color */
    }

    .space {
        height: 0px;
    }

    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        color: rgb(0, 0, 0);
        background-color: #fff;
    }

    .custom-nav .search {
        margin: 0;
        width: 100%;
    }

    .modal-size {
        width: 95%;
    }

}